@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgb(70, 70, 70) 0%, rgb(70, 70, 70) 90%);
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2em;
}

.settings-panel {
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  max-width: 768px;
  background-color: aliceblue;
  position: absolute;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  transform: translateY(-100%);
  transition: 0.3s transform ease-in-out;
  color: black;
}
.settings-panel.visible {
  transform: translateY(0);
}
.settings-panel i {
  font-size: 2em;
}
.settings-panel .difficulty {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.5em;
  top: 0;
  right: 0;
}

.category {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  transform: translateY(-2em);
  padding-top: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.category.animal {
  background: radial-gradient(circle, rgb(185, 117, 27) 0%, rgb(70, 70, 70) 90%);
}
.category.animal svg {
  fill: #e39c3e;
}
.category.boyName {
  background: radial-gradient(circle, rgb(40, 129, 180) 0%, rgb(70, 70, 70) 90%);
}
.category.boyName svg {
  fill: #50a7d8;
}
.category.city {
  background: radial-gradient(circle, rgb(52, 116, 33) 0%, rgb(70, 70, 70) 90%);
}
.category.city svg {
  fill: #4fb032;
}
.category.clothing {
  background: radial-gradient(circle, rgb(64, 33, 206) 0%, rgb(70, 70, 70) 90%);
}
.category.clothing svg {
  fill: #7157e4;
}
.category.food {
  background: radial-gradient(circle, rgb(196, 170, 53) 0%, rgb(70, 70, 70) 90%);
}
.category.food svg {
  fill: #d8c46e;
}
.category.girlName {
  background: radial-gradient(circle, rgb(182, 72, 185) 0%, rgb(70, 70, 70) 90%);
}
.category.girlName svg {
  fill: #cc7fce;
}
.category.item {
  background: radial-gradient(circle, rgb(170, 27, 27) 0%, rgb(70, 70, 70) 90%);
}
.category.item svg {
  fill: #df3333;
}
.category.occupation {
  background: radial-gradient(circle, rgb(130, 38, 235) 0%, rgb(70, 70, 70) 90%);
}
.category.occupation svg {
  fill: #aa6cf1;
}
.category.plant {
  background: radial-gradient(circle, rgb(98, 122, 42) 0%, rgb(70, 70, 70) 90%);
}
.category.plant svg {
  fill: #90b33e;
}
.category.sport {
  background: radial-gradient(circle, rgb(218, 162, 58) 0%, rgb(70, 70, 70) 90%);
}
.category.sport svg {
  fill: #e6c07a;
}
.category.world {
  background: radial-gradient(circle, rgb(36, 167, 134) 0%, rgb(70, 70, 70) 90%);
}
.category.world svg {
  fill: #41d6b1;
}

.letter {
  font-size: 15em;
  font-weight: 700;
  margin-top: 0.5em;
}

.button-next-turn {
  width: 100%;
  padding: 0.7em;
  color: rgb(70, 70, 70);
  font-weight: 700;
  background-color: white;
  font-size: 1.4em;
  border: 0;
  border-radius: 5em;
}/*# sourceMappingURL=main.css.map */