@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$gray: rgb(70, 70, 70);

$animal: rgb(185, 117, 27);
$boyName: rgb(40, 129, 180);
$city: rgb(52, 116, 33);
$clothing: rgb(64, 33, 206);
$food: rgb(196, 170, 53);
$girlName: rgb(182, 72, 185);
$item: rgb(170, 27, 27);
$occupation: rgb(104, 20, 201);
$plant: rgb(98, 122, 42);
$sport: rgb(79, 93, 138);
$world: rgb(36, 167, 134);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, $gray 0%, $gray 90%);
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2em;
}

//todo
.settings-panel {
  display: none;
}

.fa-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.5em;
  top: 0;
  right: 0;
}

.category {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  transform: translateY(-2em);
  padding-top: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &.animal {
    background: radial-gradient(circle, $animal 0%, $gray 90%);
    svg {
      fill: lighten($color: $animal, $amount: 15);
    }
  }

  &.boyName {
    background: radial-gradient(circle, $boyName 0%, $gray 90%);
    svg {
      fill: lighten($color: $boyName, $amount: 15);
    }
  }

  &.city {
    background: radial-gradient(circle, $city 0%, $gray 90%);
    svg {
      fill: lighten($color: $city, $amount: 15);
    }
  }

  &.clothing {
    background: radial-gradient(circle, $clothing 0%, $gray 90%);
    svg {
      fill: lighten($color: $clothing, $amount: 15);
    }
  }

  &.food {
    background: radial-gradient(circle, $food 0%, $gray 90%);
    svg {
      fill: lighten($color: $food, $amount: 15);
    }
  }

  &.girlName {
    background: radial-gradient(circle, $girlName 0%, $gray 90%);
    svg {
      fill: lighten($color: $girlName, $amount: 15);
    }
  }

  &.item {
    background: radial-gradient(circle, $item 0%, $gray 90%);
    svg {
      fill: lighten($color: $item, $amount: 15);
    }
  }

  &.occupation {
    background: radial-gradient(circle, $occupation 0%, $gray 90%);
    svg {
      fill: lighten($color: $occupation, $amount: 15);
    }
  }

  &.plant {
    background: radial-gradient(circle, $plant 0%, $gray 90%);
    svg {
      fill: lighten($color: $plant, $amount: 15);
    }
  }

  &.sport {
    background: radial-gradient(circle, $sport 0%, $gray 90%);
    svg {
      fill: lighten($color: $sport, $amount: 15);
    }
  }

  &.world {
    background: radial-gradient(circle, $world 0%, $gray 90%);
    svg {
      fill: lighten($color: $world, $amount: 15);
    }
  }
}

.letter {
  font-size: 15em;
  font-weight: 700;
  margin-top: 0.5em;
}

.button-next-turn {
  width: 100%;
  padding: 0.7em;
  color: $gray;
  font-weight: 700;
  background-color: white;
  font-size: 1.4em;
  border: 0;
  border-radius: 5em;
}
